<div class="ui container">
  <div class="ui two column grid stackable">
    <div class="column">
      <div class="ui segment red">
        <div class="ui top attached label large red">Meddelanden</div>

        <div class="ui feed">

          <div class="event">
            <div class="label">
              <i class="mail icon blue"></i>
            </div>
            <div class="content">
              <div class="summary">
                Ny kandidat?
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Jag tror jag har hittat en kandidat, kan du ringa mig?</div>
              <div class="meta">Jacob Larsson</div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="open envelope outline icon blue"></i>
            </div>
            <div class="content">
              <div class="summary">
                Ang din intervjuv
                <div class="date">Igår</div>
              </div>
              <div class="extra text">Tack för intervjuvn, trevligt att träffas! Vi hör av oss.</div>
              <div class="meta">Fredrik Karlsson</div>
            </div>
          </div>          

        </div>

      </div>
    </div>
    <div class="column">
      <div class="ui segment red">
        <div class="ui top attached label large red">Händelser</div>

        <div class="ui feed">

          <div class="event">
            <div class="content">
              <div class="summary">
                Driftstörning
                <div class="date">Idag</div>
              </div>
              <div class="extra text">På grund av hög belastning kan tjänsten till och från upplevas långsam.</div>
              <div class="meta">Alba Zero</div>
            </div>
          </div>

          <div class="event">
            <div class="content">
              <div class="summary">
                Mauris vitae malesuada lectus
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec hendrerit augue.</div>
              <div class="meta">Inköp</div>
            </div>
          </div>          

          <div class="event">
            <div class="content">
              <div class="summary">
                Duis eleifend sollicitudin
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Nulla lobortis pretium lorem in suscipit. Nunc blandit nibh id metus rhoncus laoreet.</div>
              <div class="meta">Behov</div>
            </div>
          </div>          

        </div>

      </div>
    </div>
  </div>
</div>
