<div class="ui stackable two column grid container">

    <div class="eight wide column">
      <div class="ui segment">
        <div class="ui top attached label large">Välkommen</div>
        <h2 class="header">Välkommen till AlbaZero som kund</h2>
        <p>
          Du har valt marknadens effektivaste sourcingtjänst med de bästa villkoren för dig som kund.<br /> AlbaZero erbjuder
          dig en unik digitaliserad lösning där du som kund får kompetens för alla pengar du betalar. 100% av det du betalar
          för går till den leverantör som utför uppdraget.<br /> För din del innebär detta att du nu kan börja använda den
          kostnadsfria tjänsten omgående genom att söka i vår databas efter resurser. Då du hittar ett CV som intresserar
          dig kan du välja en tid som passar dig och boka en intervju.<br /> Efter genomfördintervju kan du välja att teckna
          avtal eller avböja. Allt kostnadsfritt.<br />
          <br /> AlbaZero vill erbjuda sina kunder ett bättre beslutsstöd. Därför är din återkoppling ovärderlig och du kommer
          medverka i kvalitetsarbetet genom att fylla i en utvärdering av varje resurs med hjälp av en wizard. På så vis
          hjälper du dig själv och alla andra kunder att långsiktigt öka kvaliteten i tjänsten.<br /> AlbaZero sköter din
          administration och skickar en faktura per månad och kreditlängd.<br /> För att hjälpa dig ytterligare i din roll
          som kund kan du välja att köpa till en rad tjänster som du enkelt aktiverar under inställningar. Du betalar bara
          när AlbaZero tillför värde och då i form av en avgift vid det unika tillfället.<br />
          <br />Varmt välkommen till AlbaZero! <br />
          <i>Jonas Liedberg, VD</i>
        </p>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui segment">
        <div class="ui top attached label large">Senaste händelserna</div>

        <div class="ui feed">

          <div class="event">
            <div class="label">
              <i class="mail icon blue"></i>
            </div>
            <div class="content">
              <div class="summary">
                Ny kandidat?
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Jag tror jag har hittat en kandidat, kan du ringa mig?</div>
              <div class="meta">Jacob Larsson</div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="warning sign icon red"></i>
            </div>
            <div class="content">
              <div class="summary">
                Systemuppdatering
                <div class="date">10/4</div>
              </div>
              <div class="extra text">Fredagen den 14/4 kommer systemet vara otillgängligt till och från då vi genomför uppdateringar.</div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="add user icon green"></i>
            </div>
            <div class="content">
              <div class="summary">
                Ny kandidat
                <div class="date">Idag</div>
              </div>
              <div class="extra text"> En ny konsult finns nu tillgänglig som matchar din sökning på behovet "ASP.NET Utvecklare".</div>
              <div class="meta">ASP.NET Utvecklare</div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="mail icon blue"></i>
            </div>
            <div class="content">
              <div class="summary">
                Planeringsmöte
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Vi skulle behöva ses och planera projektet, hör av dig till mig.</div>
              <div class="meta">Jonas Olsson</div>
            </div>
          </div>

          <div class="event">
            <div class="label">
              <i class="thumbs up icon green"></i>
            </div>
            <div class="content">
              <div class="summary">
                Kandidatlista accepterad
                <div class="date">Idag</div>
              </div>
              <div class="extra text">Kandidatlistan för behovet "ASP.NET utvecklare" har blivit accepterad av inköp.</div>
            </div>
          </div>

        </div>

      </div>
    </div>

</div>
